@model TruckUp3.CENTRAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CENTRAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_CENTRAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_CENTRAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO_CENTRAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO_CENTRAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_CENTRAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_CENTRAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMUNA.NOMBRE_COMUNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMUNA.NOMBRE_COMUNA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CENTRAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
