@model IEnumerable<TruckUp3.CAMION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NRO_RAMPLAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRO_EJES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONDUCTOR.NOMBRE_CONDUCTOR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRO_RAMPLAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRO_EJES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONDUCTOR.NOMBRE_CONDUCTOR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PATENTE }) |
            @Html.ActionLink("Details", "Details", new { id=item.PATENTE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PATENTE })
        </td>
    </tr>
}

</table>
